<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand" routerLink="/" style="cursor:hand">
            Notes tutorial app
        </div>
        <div class="navbar-form navbar-right">
            <login-form>
                <a class="btn btn-primary" routerLink="/register">Register</a>
            </login-form>
        </div>

    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>
            <span class="glyphicon glyphicon-edit"></span>
            Keep your notes in order
        </h2>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <notes [section]="section"></notes>
        </div>
        <div class="col-md-4">
            <sections [section]="section" (sectionChanged)="setSection($event)"></sections>
        </div>
    </div>
</div>

